<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @recipe.name %></dd>

      <dt>Url</dt>
      <dd><%= @recipe.url %></dd>

      <dt>Instructions</dt>
      <dd><%= @recipe.instructions %></dd>

      <dt>Ease</dt>
      <dd><%= @recipe.ease %></dd>

      <dt>Type</dt>
      <dd><%= @recipe.type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recipe has many foods_recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods_recipes
      </li>

      <% @recipe.foods_recipes.each do |foods_recipe| %>
        <li class="list-group-item">
          <a href="/foods_recipes/<%= foods_recipe.id %>">
            <%= foods_recipe.foods_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods_recipes/<%= foods_recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods_recipes/<%= foods_recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_foods_recipe/<%= foods_recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_foods_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for recipes_id -->
      <div class="form-group">
        <label for="recipes_id" class="control-label">
          Recipes
        </label>

        <%= select_tag(:recipes_id, options_from_collection_for_select(Recipe.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Foods Recipe
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Recipe has many foods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods
      </li>

      <% @recipe.foods.each do |food| %>
        <li class="list-group-item">
          <a href="/foods/<%= food.id %>">
            <%= food.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods/<%= food.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods/<%= food.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food/<%= food.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
