<div class="page-header">
  <h3>Food #<%= @food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @food.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/foods" class="btn btn-primary">
        Back
      </a>
      <a href="/foods/<%= @food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food/<%= @food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food has many pantries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pantries
      </li>

      <% @food.pantries.each do |available| %>
        <li class="list-group-item">
          <a href="/availables/<%= available.id %>">
            <%= available.foods_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availables/<%= available.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availables/<%= available.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_available/<%= available.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_available" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="">
      </div>

      <!-- Label and input for expiration_date -->
      <div class="form-group">
        <label for="expiration_date" class="control-label">
          Expiration date
        </label>

        <input type="text" id="expiration_date" name="expiration_date" placeholder="Expiration date" class="form-control" value="">
      </div>

      <!-- Label and input for storage_area -->
      <div class="form-group">
        <label for="storage_area" class="control-label">
          Storage area
        </label>

        <input type="text" id="storage_area" name="storage_area" placeholder="Storage area" class="form-control" value="">
      </div>

      <!-- Label and input for size -->
      <div class="form-group">
        <label for="size" class="control-label">
          Size
        </label>

        <input type="text" id="size" name="size" placeholder="Size" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Available
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many foods_recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods_recipes
      </li>

      <% @food.foods_recipes.each do |foods_recipe| %>
        <li class="list-group-item">
          <a href="/foods_recipes/<%= foods_recipe.id %>">
            <%= foods_recipe.foods_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods_recipes/<%= foods_recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods_recipes/<%= foods_recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_foods_recipe/<%= foods_recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_foods_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for recipes_id -->
      <div class="form-group">
        <label for="recipes_id" class="control-label">
          Recipes
        </label>

        <%= select_tag(:recipes_id, options_from_collection_for_select(Recipe.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Foods Recipe
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @food.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
