<div class="page-header">
  <h3>Similar #<%= @similar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Similar name</dt>
      <dd><%= @similar.similar_name %></dd>

      <dt>Foods</dt>
      <dd>
        <% if @similar.foods.present? %>
          <a href="/foods/<%= @similar.foods_id %>">
            <%= @similar.foods.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/similars" class="btn btn-primary">
        Back
      </a>
      <a href="/similars/<%= @similar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_similar/<%= @similar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Similar has many similar_foods_availables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Similar_foods_availables
      </li>

      <% @similar.similar_foods_availables.each do |availables_similar| %>
        <li class="list-group-item">
          <a href="/availables_similars/<%= availables_similar.id %>">
            <%= availables_similar.similar_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availables_similars/<%= availables_similar.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availables_similars/<%= availables_similar.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_availables_similar/<%= availables_similar.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_availables_similar" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for similar_id -->
      <input type="hidden" name="similar_id" value="<%= @similar.id %>">

      <!-- Label and input for availables_id -->
      <div class="form-group">
        <label for="availables_id" class="control-label">
          Availables
        </label>

        <%= select_tag(:availables_id, options_from_collection_for_select(Available.all, :id, :foods_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Availables Similar
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Similar has many availables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availables
      </li>

      <% @similar.availables.each do |available| %>
        <li class="list-group-item">
          <a href="/availables/<%= available.id %>">
            <%= available.foods_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availables/<%= available.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availables/<%= available.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_available/<%= available.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
