<div class="page-header">
  <h3>Similar #<%= @similar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Similar name</dt>
      <dd><%= @similar.similar_name %></dd>

      <dt>Foods</dt>
      <dd><%= @similar.foods_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/similars" class="btn btn-primary">
        Back
      </a>
      <a href="/similars/<%= @similar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_similar/<%= @similar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Similar has many similar_foods_availables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Similar_foods_availables
      </li>

      <% @similar.similar_foods_availables.each do |availables_similar| %>
        <li class="list-group-item">
          <a href="/availables_similars/<%= availables_similar.id %>">
            <%= availables_similar.similar_id %>
          </a>
          <a href="/availables_similars/<%= availables_similar.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/availables_similars/<%= availables_similar.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_availables_similar/<%= availables_similar.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Similar has many availables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availables
      </li>

      <% @similar.availables.each do |available| %>
        <li class="list-group-item">
          <a href="/availables/<%= available.id %>">
            <%= available.foods_id %>
          </a>
          <a href="/availables/<%= available.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/availables/<%= available.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_available/<%= available.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
