<div class="page-header">
  <h1>
    Availables similars
    <a href="/availables_similars/new" class="btn btn-lg btn-success">New Availables similar</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Similar</th>
        <th>Availables</th>
        <th>Actions</th>
      </tr>

      <% @availables_similars.each do |availables_similar| %>
      <tr>
        <td>
          <% if availables_similar.similar_foods.present? %>
            <a href="/similars/<%= availables_similar.similar_foods.id %>">
              <%= availables_similar.similar_foods.similar_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if availables_similar.availables.present? %>
            <a href="/availables/<%= availables_similar.availables.id %>">
              <%= availables_similar.availables.foods_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/availables_similars/<%= availables_similar.id %>" class="btn btn-primary">Show</a>
          <a href="/availables_similars/<%= availables_similar.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_availables_similar/<%= availables_similar.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @availables_similars, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
