<div class="page-header">
  <h3>Availables Similar #<%= @availables_similar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Similar</dt>
      <dd><%= @availables_similar.similar_id %></dd>

      <dt>Availables</dt>
      <dd><%= @availables_similar.availables_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availables_similars" class="btn btn-primary">
        Back
      </a>
      <a href="/availables_similars/<%= @availables_similar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_availables_similar/<%= @availables_similar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
