<!DOCTYPE html>
<html>
<head>



  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
</head>
<body>
  <div class="page-header">
    <h1>

      <div style ="float: left;">
        <a href="/availables/new" class="btn btn-lg btn-success">New Pantry Item</a></div>
        <h1>

          <h3><div sytle ="text-align: right; float: right;">  <form action="/recipes">

            <input type="text" name="food_search">
            <button class="btn btn-lg btn-success">Search</button>

          </form></div>
        </h3>
      </div>


      <div class="col-xs-12">

        <div class ='pantry_list'>
          <h3><b> Fridge</b></h3>
          <table class="table table-striped table-hover">
            <tr>
              <th>Food</th>
              <th></th>
              <th>Expiring?</th>
              <th> </th>
            </tr>

            <% @availables.each do |available| %>

            <% if available.storage_area == 'Fridge' %>
            <tr>
              <td>
                <%= available.quantity %>
                <%= available.size %></td>

                <td>
                  <form action="/recipes">  <input type="hidden" name="food_search" value ="<%=Food.find(available.foods_id).name %>"><input type="submit" value= "<%=Food.find(available.foods_id).name %>" style = "food_button"></form></td>

                  <% if available.expiration_date.nil? %>
                  <td> </td>
                  <% else %>
                  <% if available.expiration_date - Date.today < 0 %>

                  <td>     <font color="#8A0707"> EXPIRED!</font></td>

                  <% elsif available.expiration_date - Date.today < 3 %>

                  <td>     <font color="red"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>
                  <% elsif available.expiration_date - Date.today < 8 %>

                      <td>     <font color="#ede436"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>

                  <% else %>

                  <td>  <%= distance_of_time_in_words_to_now(available.expiration_date) %></td>

                  <% end %>


                  <% end %>

                    <td> <a href="/delete_available/<%= available.id %>" class="glyphicon glyphicon-trash" rel="nofollow"></a></td></tr>
                    <% end %>
                    <% end %>

                  </table>
                </div>

                <div class ='pantry_list'>
                  <h3><b> Freezer</b></h3>
                  <table class="table table-striped table-hover">
                    <tr>
                      <th>Food</th>
                      <th></th>
                      <th>Expiring?</th>
                                    <th> </th>
                    </tr>

                    <% @availables.each do |available| %>

                    <% if available.storage_area == 'Freezer' %>
                    <tr>
                      <td>
                        <%= available.quantity %>
                        <%= available.size %>

                        <td>
                          <form action="/recipes">  <input type="hidden" name="food_search" value ="<%=Food.find(available.foods_id).name %>"><input type="submit" value= "<%=Food.find(available.foods_id).name %>" style = "food_button"></form></td>
                        </td>

                        <% if available.expiration_date.nil? %>
                        <td> </td>
                        <% else %>
                        <% if available.expiration_date - Date.today < 0 %>

                        <td>     <font color="#8A0707"> EXPIRED!</font></td>

                        <% elsif available.expiration_date - Date.today < 3 %>

                        <td>     <font color="red"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>
                        <% elsif available.expiration_date - Date.today < 8 %>

                            <td>     <font color="#ede436"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>

                        <% else %>

                        <td>  <%= distance_of_time_in_words_to_now(available.expiration_date) %></td>

                        <% end %>

                        <% end %>

                          <td> <a href="/delete_available/<%= available.id %>" class="glyphicon glyphicon-trash" rel="nofollow"></a></td></tr>
                          <% end %>
                          <% end %>
                        </table>
                      </div>


                      <div class ='pantry_list'>
                        <h3><b> Pantry</b></h3>
                        <table class="table table-striped table-hover">
                          <tr>
                            <th>Food</th>
                            <th></th>
                            <th>Expiring?</th>
                                          <th> </th>
                          </tr>

                          <% @availables.each do |available| %>

                          <% if available.storage_area == 'Pantry' %>
                          <tr>
                            <td>
                              <%= available.quantity %>
                              <%= available.size %>

                              <td>
                                <form action="/recipes">  <input type="hidden" name="food_search" value ="<%=Food.find(available.foods_id).name %>"><input type="submit" value= "<%=Food.find(available.foods_id).name %>" style = "food_button"></form></td>
                              </td>

                              <% if available.expiration_date.nil? %>
                              <td> </td>
                              <% else %>
                              <% if available.expiration_date - Date.today < 0 %>

                              <td>     <font color="#8A0707"> EXPIRED!</font></td>

                              <% elsif available.expiration_date - Date.today < 3 %>

                              <td>     <font color="red"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>
                              <% elsif available.expiration_date - Date.today < 8 %>

                                  <td>     <font color="#ede436"> <%= distance_of_time_in_words_to_now(available.expiration_date) %></font></td>

                              <% else %>

                              <td>  <%= distance_of_time_in_words_to_now(available.expiration_date) %></td>

                              <% end %>

                              <% end %>
                              <td> <a href="/delete_available/<%= available.id %>" class="glyphicon glyphicon-trash" rel="nofollow"></a></td></tr>

                              <% end %>
                              <% end %>
                            </table>
                          </div>
                        </div></body>
