<!-- Validation failure messages -->
<% if @available.errors.any? %>
  <% @available.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Available</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_available" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :name, @available.foods_id), :class => "form-control") %>

      </div>



      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @available.quantity %>">
      </div>

      <!-- Label and input for purchase_date -->

      <!-- Label and input for expiration_date -->
      <div class="form-group">
        <label for="expiration_date" class="control-label">
          Expiration date
        </label>

        <input type="date" id="expiration_date" name="expiration_date" placeholder="Expiration date" class="form-control" value="<%= @available.expiration_date %>">
      </div>

      <!-- Label and input for perishable_ind -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

    </div>

      <!-- Label and input for storage_area -->
      <div class="form-group">
        <label for="storage_area" class="control-label">
          Storage area
        </label>
  <%= select_tag(:storage_area, options_for_select(['Fridge','Freezer','Pantry']), :class => "form-control") %>
    </div>

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <%= select_tag(:size, options_for_select(['can','oz','tbsp','tsp','cup','lb', 'piece']), :class => "form-control") %>
      </div>



      <button class="btn btn-success">
        Create Pantry Item
      </button>
      or
      <a href="/availables">Cancel</a>
    </form>


    <form action="/create_food" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="name" class="control-label">
                      New Food
                    </label>


                    <input type="text" id="name" name="name"  class="form-control" required>
                  </div>

                  <button class="btn btn-success">
                    Create New Food
                  </button>

                </form>

  </div>
</div>
