<div class="page-header">
  <h3>Available #<%= @available.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Foods</dt>
      <dd><%= @available.foods_id %></dd>

      <dt>Quantity</dt>
      <dd><%= @available.quantity %></dd>

      <dt>Purchase date</dt>
      <dd><%= @available.purchase_date %></dd>

      <dt>Expiration date</dt>
      <dd><%= @available.expiration_date %></dd>

      <dt>Perishable ind</dt>
      <dd><%= @available.perishable_ind %></dd>

      <dt>Storage area</dt>
      <dd><%= @available.storage_area %></dd>

      <dt>Type</dt>
      <dd><%= @available.type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availables" class="btn btn-primary">
        Back
      </a>
      <a href="/availables/<%= @available.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_available/<%= @available.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Available has many similar_foods_availables -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Similar_foods_availables
      </li>

      <% @available.similar_foods_availables.each do |availables_similar| %>
        <li class="list-group-item">
          <a href="/availables_similars/<%= availables_similar.id %>">
            <%= availables_similar.similar_id %>
          </a>
          <a href="/availables_similars/<%= availables_similar.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/availables_similars/<%= availables_similar.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_availables_similar/<%= availables_similar.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Available has many similar_foods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Similar_foods
      </li>

      <% @available.similar_foods.each do |similar| %>
        <li class="list-group-item">
          <a href="/similars/<%= similar.id %>">
            <%= similar.similar_name %>
          </a>
          <a href="/similars/<%= similar.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/similars/<%= similar.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_similar/<%= similar.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
